* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    
}

html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    z-index: 0;
}

#container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* Page Titles */

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Cards */

.card {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    overflow-x: scroll;
}

/* Table */

.table {
    font-size: 1.2rem;
    background-color: #fff;
    border-spacing: 0;
}

thead {
    background-color: #eef2fb;
}

th {
    padding: 4px 17px 4px 4px;
    border-bottom: 1px solid #111;
}

td {
    padding: 2px 5px 2px 5px;
    border-right: 1px solid #ddd;
}

td:last-child {
    border-right: none;
}

tr {
    border-top: none;
}

a {
    text-decoration: none;
    color:hsl(205, 99%, 56%);
}

a:hover {
    text-decoration: underline;
}

/* Table Timer */

#display {
    text-align: center;
}

/* Table Buttons */

#controls {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

button {
    border: none;
    border-radius: 1rem;
    width: 7rem;
}

#startBtn {
    background-color: hsl(106, 79%, 58%);
}

#startBtn:hover {
    background-color: hsl(106, 79%, 75%);
}

#pauseBtn {
    background-color: hsl(53, 91%, 60%);
}

#pauseBtn:hover {
    background-color: hsl(53, 91%, 75%);
}

#finishBtn {
    background-color: hsl(2, 91%, 60%);
}

#finishBtn:hover {
    background-color: hsl(2, 91%, 75%);
}

/* Log */

#log {
    width: 80%;
    height: 200px;
    padding: 8px;
    margin-top: 20px;
    overflow: scroll;
    background-color: hsl(0, 10%, 92%);
    font-size: 1.2rem;
}

/* Functions */

.focusScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.25); 
}

#options {
    width: 50%;
    height: 40%;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    
}