* {
    margin: 0;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#controls {
    display: flex;
}

#container {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: red;
}

.job {
    flex-grow: 1;
}

.notes {
    flex-grow: 1;
}

.printer {
    flex-grow: 1;
}

/* Log */

#log {
    width: 80%;
    height: 200px;
    margin-top: 20px;
    background-color:hsl(208, 13%, 80%);
}
